__pycache__/
*.pyc
.venv/
.env
.DS_Store
logs/
.agents
*.egg-info
dist/
build/

# allow files
!.agents/nnancy.yaml
!.agents/hand-off_instructions.md
!.agents/instructions.md
!.agents/relay_instructions.md